body {
  margin-left: 3em;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  text-align: center;
}

.textDisplayArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showText{
  background-color: white;
  white-space: pre-wrap;
  width:40%;
  text-align: left;
  padding-left: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
